<div >
    <h2>Add Field</h2>
    <br>
    <form [formGroup]="addField" (ngSubmit)="add()">
      <div class="form-group">
    
        <label for="name" >Name</label>
        <input class="form-control" id="field"  type="text" formControlName="field" placeholder="Name"  required>
        <div *ngIf=" f['field'].touched && f['field'].touched" class="invalid-feedback">
          <div *ngIf="f['field'].errors && f['field'].errors['required']">Name is required</div>
        </div>

        
        
      </div>
    <br>
          <button type="submit"  [disabled]="addField?.invalid">Add</button>
       
    </form>
    <br>
    <br>
    <hr>
    
    </div>