<div style="background-image: url();">
    <h2 style="color: firebrick;">Add a Job Offer </h2>
    <br>
    <form (ngSubmit)="ajouter(form)" #form=ngForm>
      <div class="form-group">
    
        <label for="title" style="color:black; font-size: large; font-style: oblique;">Title</label>
        <input class="form-control"  ngModel type="text"  style="width:400px;"  name="title" required #title="ngModel">
        <span style=color:red *ngIf="!title.valid && title.touched">Invalid Title!</span>
    
    <br>
        <label for="field" style="color:black; font-size: large; font-style: oblique;">Field</label>
        <select class="form-control" ngModel style="width:400px;" name="field"  required #field="ngModel">
            <option *ngFor="let f of fields " [value]="f._id">{{f.name}}</option>
        </select>
        <span style=color:red *ngIf="!field.valid && field.touched">Invalid Field !</span>
     
        <br>
        
        <label for="place" style="color: black; font-size: large; font-style: oblique;">Localisation</label>
        <input class="form-control" ngModel type="text" min="0" style="width:400px;"  name="place" required #place="ngModel">
        <span style=color:red *ngIf="!place.valid && place.touched">Invalid Localisation!</span>
    <br>
        <label for="tech" style="color: black; font-size: large; font-style: oblique;">Technologies Required</label>
        <input  class="form-control"  ngModel type="text"  style="width:400px;"  name="tech" required #tech="ngModel">
        <span style=color:red *ngIf="!tech.valid && tech.touched">Invalid Technologies!</span>
       
        
    <br>    
        <label for="date" style="color: black; font-size: large; font-style: oblique;" >Date</label>
        <input  class="form-control"  ngModel type="datetime"  style="width:400px;"  name="date" required #date="ngModel">
        <span style=color:red *ngIf="!date.valid && date.touched">Invalid date!</span>
    
    <br>
    
     
    
      
    
        <label for="diplome" style="color: black; font-size: large; font-style: oblique;">Diploma Required</label>
        <input  class="form-control"  ngModel type="text"  style="width:400px;"  name="diplome" required #diplome="ngModel">
        <span style=color:red *ngIf="!diplome.valid && diplome.touched">Invalid Diploma!</span>

        <br>

        <label for="des" style="color: black; font-size: large; font-style: oblique;">Description</label>
        <input  class="form-control"  ngModel type="text"  style="width:400px;"  name="des" required #des="ngModel">
        <span style=color:red *ngIf="!des.valid && des.touched">Invalid Description!</span>
    <br>
        <label for="qua" style="color: black; font-size: large; font-style: oblique;">Qualifications</label>
        <input  class="form-control"  ngModel type="text"  style="width:400px;"  name="qua" required #qua="ngModel">
        <span style=color:red *ngIf="!qua.valid && qua.touched">Invalid Qualifications!</span>
       
       
       
          
        
      </div>
      
      
    
    <br>
          <button  class="btn btn-success" [disabled]=!form.valid>  Post</button>
       
    </form>
    </div>
    
