

    <!-- Page Wrapper -->
    
      <app-header>
  
      </app-header>
     
      <div class="container mt-5">
    <div class="d-flex justify-content-center row" *ngFor="let o of pub">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section" id="myGroup">
                <div class="bg-white p-2">
                  
                    <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">{{o.logo}}
                        <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">{{o.username}}</span><span class="date text-black-50">{{o.created_at}}</span></div>
                        <div class="box-tools">
                          <button type="button" class="btn btn-outline-secondary btn-rounded btn-icon" data-bs-toggle="modal" data-bs-target="#exampleModal" routerLink="/UpdateOffer/{{o._id}}"><i class="typcn typcn-edit  text-primary"></i></button><button type="button" class="btn btn-outline-secondary btn-rounded btn-icon" ><i i class="typcn typcn-archive text-danger" (click)="delete(o._id)"></i></button>
                          
                        </div>
                          
                       
                    </div>
                    <div class="mt-2">
                      <strong><p class="comment-text" >{{o.title}}</p></strong>
                      <strong><p class="comment-text" >Category:{{o.fields}}</p></strong>
                      <strong><p class="comment-text" > Description:{{o.description}}</p></strong>
                        <strong><p class="comment-text"> Job Nature:{{o.jobType}}</p></strong>
                        <strong><p class="comment-text"> Technologies Required :{{o.technologiesReq}}</p></strong>
                        <strong><p class="comment-text"> Qualifications :{{o.qualifications}}</p></strong>
                        <strong><p class="comment-text"> Diplomas Required :{{o.diplomaReq}}</p></strong>
                        <strong><p class="comment-text"> Places Available:{{o.placesAvai}}</p></strong>
                        <strong><p class="comment-text"> Location:{{o.region}}</p></strong>
                        <strong><p class="comment-text"> Expiration Date:{{o.expirationDate}}</p></strong>
                        

                    </div>
                    </div>
            
                
                <div class="bg-white p-2">
                    <div class="d-flex flex-row fs-12">
                        <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                        <div class="like p-2 cursor action-collapse" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-1" href="#collapse-1"><i class="fa fa-commenting-o"></i><span class="ml-1">Comments</span></div>
                       
                    </div>
                </div>
                
                 <div id="collapse-1" class="bg-light p-2 collapse" data-parent="#myGroup">
                    <div class="d-flex flex-row align-items-start">
                      <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                      <textarea class="form-control ml-1 shadow-none textarea" ></textarea></div>
                    <div class="mt-2 text-right">
                      <button class="btn btn-primary btn-sm shadow-none" type="submit" >Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
                  </div>
              
               
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  
  
   
        
     

  
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      
    </div>
   </div> 

 


    
 