
  <body>
    
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <app-header></app-header>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <app-sidebar></app-sidebar>
        

        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
       
        <!-- partial -->
        <div class="main-panel">
          <router-outlet></router-outlet>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <app-footer></app-footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    
    <!-- End custom js for this page-->
  </body>
