<!DOCTYPE html>
<html lang="zxx">


<body>

<!--wrapper start-->
<div class="wrapper">
    <div class="col-sm-6 text-center">
        
        
      </div>
  
  
 
  
  <main class="main-content">
   

    <!--== Start Login Area Wrapper ==-->
    <section class="account-login-area">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-7 col-xl-6">
            <div class="login-register-form-wrap register-form-wrap">
              <div class="login-register-form">
                <div class="form-title">
                  <h4 class="title">Register Now</h4>
                </div>
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="candidate-tab" data-bs-toggle="pill" data-bs-target="#candidate" type="button" role="tab" aria-controls="candidate" aria-selected="true" ><i class="icofont-businessman"></i> Candidate</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="employer-tab" data-bs-toggle="pill" data-bs-target="#employer" type="button" role="tab" aria-controls="employer" aria-selected="false" ><i class="icofont-bag-alt"></i> Employer</button>
                  </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="employer" role="tabpanel" aria-labelledby="employer-tab">
                    <form class="form-horizontal"  [formGroup]="RecruiterRegisterForm" (ngSubmit)="registerCompany()">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <input class="form-control" type="email" id="email" formControlName="email" placeholder="Email" autofocus>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <input class="form-control" type="password" id="password" formControlName="password" placeholder="Password" autofocus>
                          </div>
                        </div>
                       
                        <div class="col-12">
                            <div class="form-group">
                              <input class="form-control" type="text" id="companyName" formControlName="companyName" placeholder="Company Name">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                              <input class="form-control" type="text" id="companyAdd" formControlName="companyAdd" placeholder="Address">
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <input class="form-control" type="url" id="website" formControlName="website" placeholder="Website">
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                            <input class="form-control" type="text" placeholder="description" formControlName="description">

                              <!-- <input class="form-control" type="text" id="description" formControlname="description" placeholder="aaaaaaaaaaaa" value="sfds"> -->
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <input class="form-control" type="date" formControlName="creationDate" placeholder="Creation Date">
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <input class="form-control" type="file" id="logo" formControlName="logo" placeholder="Logo">
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <input class="form-control" type="text" id="region" formControlName="region" placeholder="Region">
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <input class="form-control" type="text" id="sector" formControlName="sector" placeholder="Sector">
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <input class="form-control" type="number" id="tel" formControlName="tel" placeholder="Tel">
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <input class="form-control" type="text" id="type" formControlName="type" placeholder="Field">
                            </div>
                          </div>
                        <div class="col-12">
                          <div class="form-group">
                            <div class="remember-forgot-info">
                              <div class="remember">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">Aaccept our terms and conditions and privacy policy.</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <button type="submit" class="btn-theme" >Register Now</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane fade" id="candidate" role="tabpanel" aria-labelledby="candidate-tab">
                    <form [formGroup]="signupCandidat" (ngSubmit)="registerCandidat()">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <input class="form-control" type="text" placeholder="Name" formControlName="name">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <input class="form-control" type="text" placeholder="Surname" formControlName="surname">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <input class="form-control" type="text" placeholder="Description" formControlName="description">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <input class="form-control" type="text" placeholder="Address" formControlName="address">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <input class="form-control" type="number" placeholder="zipCode" formControlName="zipCode">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <input class="form-control" type="text" placeholder="Diploma" formControlName="diploma">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <input class="form-control" type="date" placeholder="Birth Date" formControlName="BirthdDate">
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="form-group">
                            <input class="form-control" type="email" placeholder="Email" formControlName="email">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <input class="form-control" type="password" placeholder="Password" formControlName="password">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <input class="form-control" type="password" placeholder="Confirm Password" formControlName="password">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-3">Gender</label>
                          <div class="col-sm-6">
                              <div class="row">
                                  <div class="col-sm-4">
                                      <label class="radio-inline">
                                          <input type="radio" id="femaleRadio" name="gender" value="Female" formControlName="gender">Female
                                      </label>
                                  </div>
                                  <div class="col-sm-4">
                                      <label class="radio-inline">
                                          <input type="radio" checked id="maleRadio" name="gender" formControlName="gender" value="Male">Male
                                      </label>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <input class="form-control" type="number" placeholder="Tel Number" formControlName="tel">
                        </div>
                      </div>
                      <div class="form-group">
                    <label class="control-label col-sm-3">Gender</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="femaleRadio" name="gender" value="Female" formControlName="gender">Female
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" checked id="maleRadio" name="gender" formControlName="gender" value="Male">Male
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                        <div class="col-12">
                          <div class="form-group">
                            <div class="remember-forgot-info">
                              <div class="remember">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">Aaccept our terms and conditions and privacy policy.</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <button type="button" class="btn-theme">Register Now</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="login-register-form-info">
                  <p>Already have an account? <a routerLink="/loginE">Login</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Login Area Wrapper ==-->
  </main>

  <!--== Start Footer Area Wrapper ==-->
  
  <!--== End Footer Area Wrapper ==-->

  <!--== Start Aside Menu ==-->
  <aside class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h1 class="d-none" id="offcanvasExampleLabel">Aside Menu</h1>
      <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">menu <i class="icofont-simple-left"></i></button>
    </div>
    <div class="offcanvas-body">
      <!-- Mobile Menu Start -->
      <div class="mobile-menu-items">
        <ul class="nav-menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Find Jobs</a>
            <ul class="sub-menu">
              <li><a href="job.html">Jobs</a></li>
              <li><a href="job-details.html">Job Details</a></li>
            </ul>
          </li>
          <li><a href="employers-details.html">Employers Details</a></li>
          <li><a href="#">Candidates</a>
            <ul class="sub-menu">
              <li><a href="candidate.html">Candidates</a></li>
              <li><a href="candidate-details.html">Candidate Details</a></li>
            </ul>
          </li>
          <li><a href="#">Blog</a>
            <ul class="sub-menu">
              <li><a href="blog-grid.html">Blog Grid</a></li>
              <li><a href="blog.html">Blog Left Sidebar</a></li>
              <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
              <li><a href="blog-details.html">Blog Details</a></li>
            </ul>
          </li>
          <li><a href="#">Pages</a>
            <ul class="sub-menu">
              <li><a href="about-us.html">About us</a></li>
              <li><a href="login.html">Login</a></li>
              <li><a href="registration.html">Registration</a></li>
              <li><a href="page-not-found.html">Page Not Found</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <!-- Mobile Menu End -->
    </div>
  </aside>
  <!--== End Aside Menu ==-->
</div>

<!--=======================Javascript============================-->



</body>

</html>