<div class="col-12 grid-margin" style="background-color:white;">
    <div class="card" style="background-color: #F0FFFF;">
      <div class="card-body">
        <h4 class="card-title">Update Your Post</h4>
        <form class="form-sample" #f="ngForm" (ngSubmit)="update()">
          <p class="card-description">
            
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="title" class="col-sm-3 col-form-label">Title</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ngModel [(ngModel)]="publication.title" required name="title" #title="ngModel" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Qualifications</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control"  ngModel [(ngModel)]="publication.qualifications" required name="qualifications"  #qualifications="ngModel" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
         
          
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Created At</label>
                <div class="col-sm-9">
                  <input class="form-control" type="date" placeholder="dd/mm/yyyy" ngModel [(ngModel)]="publication.created_at" name="created_at" #creates_at="ngModel"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Job Type</label>
                <div class="col-sm-9">
                   
               
                  <input type="text" class="form-control" ngModel [(ngModel)]="publication.jobType" name="jobType" #jobType="ngModel"/>
                </div>
                    
             
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Expires At </label>
                <div class="col-sm-9">
                  <input class="form-control" type="date" placeholder="dd/mm/yyyy" ngModel [(ngModel)]="publication.expirationDate" name="expirationDate" #expirationDate="ngModel"/>
                </div>
              
            
               
                <div class="col-sm-5">
                  
                </div>
              </div>
            </div>
          </div>
          <p class="card-description">
            Address
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Diploma Required</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ngModel [(ngModel)]="publication.diplomaReq" name="diplomaReq" #diplomaReq="ngModel"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                  <textarea type="text" class="form-control" ngModel [(ngModel)]="publication.description" name="description" #description="ngModel" ></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Technologies Required</label>
                <div class="col-sm-9">
                  <textarea type="text" class="form-control" ngModel [(ngModel)]="publication.technologiesReq" name="technologiesReq" #technologiesReq="ngModel" ></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Places Available</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control"  ngModel [(ngModel)]="publication.placesAvai" name="placesAvai" #placesAvai="ngModel" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Location</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ngModel [(ngModel)]="publication.region" name="region" #region="ngModel" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <button type="submit" class="form-control" style="color:black; background-color:pink" >Confirm</button>
                  </div>
                
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>