<div style="background-image: url();">
    <h2 style="color: firebrick;">Update a Job Offer </h2>
    <br>
    <form (ngSubmit)="update()" #form=ngForm>
      <div class="form-group">
    
        <label for="title" style="color:black; font-size: large; font-style: oblique;">Title</label>
        <input class="form-control"  ngModel [(ngModel)]="pub.title" type="text"  style="width:400px;"  name="title" required #title="ngModel">
        <span style=color:red *ngIf="!title.valid && title.touched">Invalid Title!</span>
    
    <br>
       
        <br>
        
        <label for="place" style="color: black; font-size: large; font-style: oblique;">Localisation</label>
        <input class="form-control" ngModel [(ngModel)]="pub.region"  type="text" min="0" style="width:400px;"  name="region" required #region="ngModel">
        <span style=color:red *ngIf="!region.valid && region.touched">Invalid Localisation!</span>
    <br>
        <label for="tech" style="color: black; font-size: large; font-style: oblique;">Technologies Required</label>
        <input  class="form-control"  ngModel [(ngModel)]="pub.technologiesReq" type="text"  style="width:400px;"  name="technologiesReq" required #technologiesReq="ngModel">
        <span style=color:red *ngIf="!technologiesReq.valid && technologiesReq.touched">Invalid Technologies!</span>
       
        
    <br>    
        <label for="date" style="color: black; font-size: large; font-style: oblique;" >Date</label>
        <input  class="form-control"  ngModel [(ngModel)]="pub.expirationDate"  type="datetime"  style="width:400px;"  name="expirationDate" required #expirationDate="ngModel">
        <span style=color:red *ngIf="!expirationDate.valid && expirationDate.touched">Invalid date!</span>
    
    <br>
    
     
    
      
    
        <label for="diplome" style="color: black; font-size: large; font-style: oblique;">Diploma Required</label>
        <input  class="form-control"  ngModel [(ngModel)]="pub.diplomaReq"  type="text"  style="width:400px;"  name="diplomaReq" required #diplomaReq="ngModel">
        <span style=color:red *ngIf="!diplomaReq.valid && diplomaReq.touched">Invalid Diploma!</span>

        <br>

        <label style="color: black; font-size: large; font-style: oblique;" for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control"  ngModel [(ngModel)]="pub.description"  type="text"  style="width:400px;"  name="description" required #description="ngModel"></textarea>
        <span style=color:red *ngIf="!description.valid && description.touched">Invalid Description!</span>
    <br>
        <label for="qua" style="color: black; font-size: large; font-style: oblique;">Qualifications</label>
        <input  class="form-control"  ngModel [(ngModel)]="pub.qualifications"  type="text"   style="width:400px;"  name="qualifications" required #qualifications="ngModel">
        <span style=color:red *ngIf="!qualifications.valid && qualifications.touched">Invalid Qualifications!</span>
        <br>
        <label for="qua" style="color: black; font-size: large; font-style: oblique;">jobType</label>
        <input  class="form-control"  ngModel [(ngModel)]="pub.jobType"  type="text"   style="width:400px;"  name="jobType" required #jobType="ngModel">
        <span style=color:red *ngIf="!jobType.valid && jobType.touched">Invalid jobType!</span>
       
        <br>
        <label for="qua" style="color: black; font-size: large; font-style: oblique;">jobType</label>
        <input  class="form-control"  ngModel [(ngModel)]="pub.placesAvai"  type="text"   style="width:400px;"  name="placesAvai" required #placesAvai="ngModel">
        <span style=color:red *ngIf="!placesAvai.valid && placesAvai.touched">Invalid jobType!</span>
       
       
          
        
      </div>
      
      
    
    <br>
          <button  class="btn btn-success" [disabled]=!form.valid>Post</button>
       
    </form>
    </div>
    
