
<html>
  <body>
    <!-- partial -->
    <div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
   
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Job Offers</h4>
                  
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Description</th>
              <th>Description</th>
               <th>Field</th>
               <th>Qualifications</th>
                <th>job Type</th>
                <th>
                            Technologies Required
                        </th>
                        <th>
                            Diploma Required
                        </th>
  
                        <th>
                            Region
                        </th>
                        <th>
                            Places Available
                        </th>
                        <th>
                            Creation Date 
                        </th>
                        <th>
                            Expiration Date
                        </th>
                        
                        <th>
                          Action
    
                        </th>
    
    
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let o of posts ">
                         <td>
                          {{o.title}}
    
                        </td>
                        <td>
                            {{o.description}}
                        </td>
                        <td>
                            {{o.fields}}
                        </td>
                        <td>
                            {{o.qualifications}}
                        </td>
                        <td>
                            {{o.jobType}}
                        </td>
                        <td>
                            {{o.technologiesReq}}
                        </td>
                        <td>
                            {{o.diplomaReq}}
                        </td>
                        <td>
                            {{o.region}}
                        </td>
                        <td>
                            {{o.placesAvai}}
                        </td>
                        <td>
                            {{o.creationDate}}
                        </td>
                        <td>
                            {{o.expirationDate}}
                        </td>
                        <td>
                          <button class="btn btn-danger btn-circle btn-sm" (click)="delete(o.id)">
                            <i class="fas fa-trash">
    
                            </i>
                          </button>
                        </td>
    
                      </tr>
                       
                        
                        
                        
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
         
           
        
      
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    
    <!-- page-body-wrapper ends -->
  </div>
  </div>
  
  
  </div>
  </body>
  </html>
  
  
  