
    <body>
        

         <app-header-c></app-header-c><!-- #header -->



        <!-- start banner Area -->
        
        <!-- End banner Area -->	

        <!-- Start features Area -->
        <app-layout-c></app-layout-c>
        <!-- End features Area -->
        
        <!-- Start popular-post Area -->
        
        <!-- End popular-post Area -->
        
        <!-- Start feature-cat Area -->
        
        <!-- End feature-cat Area -->
        
        <!-- Start post Area -->
        
        <!-- End post Area -->
            

        <!-- Start callto-action Area -->
        
        <!-- End calto-action Area -->

        <!-- Start download Area -->
      
        <!-- End download Area -->
    
        <!-- start footer Area -->		
       <app-footer-c></app-footer-c>
        <!-- End footer Area -->		

       
        
    </body>
